<mat-tab-group>
  <mat-tab label="Accounts">
    <ul>
      @for(account of accountAmounts | keyvalue; track $index) {
        <li>
          <span>{{ getAccountName(account.key) | titlecase }}</span><span>{{ account.value | currency }}</span>
        </li>
      }
    </ul>
  </mat-tab>
  <mat-tab label="Categories">
    <ul>
      @for(category of categoryAmounts | keyvalue; track $index) {
        <li>
          <span>{{ category.key | titlecase }}</span>
          <span>{{ category.value | currency }}</span>
        </li>
      }
    </ul>
  </mat-tab>
</mat-tab-group>