mat-form-field {
    display: block;
}
form {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab-group {
    grid-column: 1 / 4;    
}
button.right {
    grid-row: 2;
    grid-column:3;
}
button.left {
    grid-row: 2;
    grid-column: 1;
}