<form (ngSubmit)="updateUser()" [formGroup]="newAccountForm">
    <mat-tab-group #accountTabs [selectedIndex]="selectedTab.value"
        (selectedIndexChange)="selectedTab.setValue($event)"
        mat-align-tabs="center"
        mat-stretch-tabs>
        <mat-tab label="User Details" formGroupName="userDetails" disabled>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="firstName" id="firstName" name="firstName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Surname</mat-label>
                <input type="text" matInput formControlName="surname" id="surname" name="surname">
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Account Details" formGroupName="accountDetails" disabled>
            <div *ngIf="(newAccountForm.get('accountDetails')?.errors?.['passwordMatch'] || newAccountForm.get('accountDetails')?.get('email')?.errors?.['email']) && newAccountForm.touched ">
                Error: {{ errorMessage }}
            </div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input [type]="hideConfirm ? 'password' : 'text'" matInput formControlName="confirmPassword">
                <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>
    <button *ngIf="this.selectedTab.value == 1" mat-raised-button color="accent" type="submit" class="right">Submit</button>
    <button *ngIf="this.selectedTab.value < 1" mat-raised-button color="grey" type="button" class="right" (click)="moveTab(1)">Next</button>
    <button *ngIf="this.selectedTab.value > 0" mat-raised-button color="grey" type="button" class="left" (click)="moveTab(-1)"><mat-icon>arrow_back_ios</mat-icon></button>
</form>