<nav>
    <div class="item-container">
        <mat-slide-toggle (change)="changeThemeMode()" [checked]="isDark">
            Dark Mode
        </mat-slide-toggle>
        <ul class="item-list">
            <ng-container>
                <li *ngIf="authService.currentUser$ | async as user; else loginButton">
                    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
                </li>
                
            </ng-container>
            <ng-template #loginButton>
                <li><a routerLink="/account/login">Login</a></li>
            </ng-template>
        </ul>
    </div>
</nav>