<section>
    <article>
        <header>
            <h3>Your Details</h3>
        </header>
        <form [formGroup]="userDetailsForm">
            <mat-grid-list cols="2" rowHeight="10vh" gutterSize="15px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="text" matInput formControlName="email">
                        <button *ngIf="!emailVerified()" mat-icon-button matSuffix (click)="verifyEmail()"><mat-icon>done</mat-icon></button>
                    </mat-form-field>   
                    <mat-form-field>
                        <mat-label>Display Name</mat-label>
                        <input type="text" matInput formControlName="displayName">
                        <button *ngIf="!hasDisplayName()" mat-icon-button matSuffix (click)="updateDisplayName()"><mat-icon>done</mat-icon></button>
                    </mat-form-field>   
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="firstName">
                    </mat-form-field>   
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Surname</mat-label>
                        <input type="text" matInput formControlName="surname">
                    </mat-form-field>   
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </article>
</section>
<section>
    <article>
        <header style="display:flex">
            <h3>Accounts</h3>
            <button mat-icon-button color="accent" (click)="openAddAccount()"><mat-icon>add</mat-icon></button>
        </header>
    </article>
</section>