<div>
    <form [formGroup]="userDetailsForm">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
        </mat-form-field>   
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName">
        </mat-form-field>   
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input type="text" matInput formControlName="surname">
        </mat-form-field>   
    </form>
</div>
