<section class="account-holder">
    <div class="account-content">
        <nav mat-tab-nav-bar color="primary" mat-align-tabs="center" [tabPanel]="authPanel">
            @for (link of links; track $index) {
                <a mat-tab-link [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{ link.label }}</a>
            }
        </nav>
        <mat-tab-nav-panel #authPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</section>
