<header>
    <h1 mat-dialog-title>{{account.name}}</h1>
    <button mat-flat-button color="primary" (click)="enableTransfer()">Transfer</button>
</header>
<div mat-dialog-content>
    <section class="head-section">
        <article>
            <button mat-button (click)="enableAddPot()">{{ showAddPot ? 'cancel' : 'Add Pot' }}</button>
            <div>Amount</div><div>{{ (account.amount ? account.amount : 0) | currency}}</div>

            @if(showAddPot) {
                <form (ngSubmit)="addPot()">
                    <mat-form-field>
                        <label for="name"></label>
                        <input matInput [formControl]="name">
                    </mat-form-field>
                    <button mat-flat-button color="accent">Add Pot</button>
                </form>
            }
        </article>

        @if(potsBetween.length > 0) {
            <article id="transfer">
                <h4>Transfering</h4>

                @for(pot of potsBetween; track pot.name) {
                    <div>
                        <p>{{ pot.name }} : {{ pot.amount | currency }}</p>
                    </div>
                }
                
                @if(potsBetween.length == 2){
                    <form (ngSubmit)="transferValue()">
                        <mat-form-field>
                            <input matInput type="number" color="primary" [formControl]="transferVal">
                        </mat-form-field>
                        <button  mat-mini-fab color="accent"><mat-icon>sync_alt</mat-icon></button>
                    </form>
                }
            </article>
        }

    </section>
    <section>
        <h3>Pots</h3>
        <table mat-table [dataSource]="pots">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let pot">{{pot.name}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let pot">{{ (pot.amount ? pot.amount  : 0) | currency }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let pot; columns: columns;" (click)="addToTransfer(pot)"></tr>
        </table>
    </section>
</div>
