table {
    width:100%;
}
.head-section {
    display: grid;
    grid-template: "a b" 50%;
}
p {
    padding: 0;
}
#transfer div {
    display: flex;
}
#transfer div p {
    justify-self: flex-end;
}

form>* {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}