<h1 mat-dialog-title>{{account.name}}</h1>
<div mat-dialog-content>
    <section class="head-section">
        <article>
            <button mat-button (click)="showAddPot = !showAddPot">{{ showAddPot ? 'cancel' : 'Add Pot' }}</button>
            <div>Amount</div><div>{{account.amount ? account.amount : 0 | currency}}</div>
            <form [formGroup]="addPotsForm" (ngSubmit)="addPot()" *ngIf="showAddPot">
                <mat-form-field>
                    <label for="name"></label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <button mat-flat-button color="success">Add Pot</button>
            </form>
        </article>
        <article id="transfer" *ngIf="potsBetween.length > 0">
            <h4>Transfering</h4>
            <div *ngFor="let pot of potsBetween">
                <p>{{ pot.name }} : {{ pot.amount | currency }}</p>
            </div>
            <form [formGroup]="transferValForm" (ngSubmit)="transferValue()" *ngIf="potsBetween.length == 2">
                <mat-form-field>
                    <input matInput type="number" color="primary" formControlName="amount">
                </mat-form-field>
                <button mat-button color="accent">Transfer</button>
            </form>
        </article>
    </section>
    <section>
        <h3>Pots</h3>
        <table mat-table [dataSource]="pots">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let pot">{{pot.name}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let pot">{{pot.amount ? pot.amount : 0}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let pot; columns: columns;" (click)="addToTransfer(pot)"></tr>
        </table>
    </section>
</div>
