<button (click)="setYear(-1)">-</button>
<button (click)="setYear(1)">+</button>

<div class="totals-row">
    <div>Totals</div>
    <div>Spending</div>
    <div>Useless</div>
    <div>Monthly</div>
    <div>Annually</div>
</div>
<div *ngFor="let month of YearsData.months" class="totals-row">
    <div>{{ month.totalAmount | currency}}</div>
    <div>{{ (month.categoryAmounts.get('spending') ? month.categoryAmounts.get('spending') : 0) | currency }}</div>
    <div>{{ (month.categoryAmounts.get('useless') ? month.categoryAmounts.get('useless') : 0) | currency}}</div>
    <div>{{ (month.categoryAmounts.get('Monthly') ? month.categoryAmounts.get('Monthly') : 0) | currency}}</div>
    <div>{{ (month.categoryAmounts.get('Annually') ? month.categoryAmounts.get('Annually') : 0) | currency}}</div>
</div>
