<button (click)="setYear(-1)">-</button>
<button (click)="setYear(1)">+</button>

<div class="totals-row">
    <div>Totals</div>
    <div>Spending</div>
    <div>Useless</div>
    <div>Bills</div>
</div>
<div *ngFor="let month of YearsData | keyvalue" class="totals-row">
    <div>{{ month.value.totalAmount | currency}}</div>
    <div>{{ (month.value.categoryAmounts.get('spending') ? month.value.categoryAmounts.get('spending') : 0) | currency }}</div>
    <div>{{ (month.value.categoryAmounts.get('useless') ? month.value.categoryAmounts.get('useless') : 0) | currency}}</div>
    <div>{{ (month.value.categoryAmounts.get('bills') ? month.value.categoryAmounts.get('bills') : 0) | currency}}</div>
</div>
