.year-chooser {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

table {
  width: 100%;
}
td {
  text-align: center;
  vertical-align: middle;
}
.table-month {
  text-align: start;
}
