<header>
    <section>
        <mat-form-field style="display:none">
            <input #dateInput matInput [formControl]="date" [matDatepicker]="monthYearPicker">
            <mat-datepicker #monthYearPicker touchUi [startView]="'year'" (monthSelected)="setMonthYear($event, monthYearPicker)"></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button (click)="date.setValue(today)"><mat-icon>calendar_today</mat-icon></button>
        <div>{{ (isHandset | async)?.matches ? 'DA: ' : 'Daily Average: ' }}{{ (totalAmount / this.getMonthDays()).toFixed(2) | currency }}</div>
    </section>
    <section id="month">
        <button mat-icon-button (click)="changeDate(-1)"><mat-icon>arrow_back_ios</mat-icon></button>
        <button mat-button (click)="monthYearPicker.open()"><h1>{{date.value.toLocaleString('en-GB',{month:'long'})}}</h1></button>
        <button mat-icon-button (click)="changeDate(1)"><mat-icon>arrow_forward_ios</mat-icon></button>
    </section>
    <section id="year">
        <h2>{{date.value.getFullYear()}}</h2>
    </section>
</header>
<section class="table-head">
    <button mat-button (click)="openTransactionsDialog({date: this.date.value})">Add Transaction</button>
    <button mat-flat-button (click)="openBottom()">{{totalAmount | currency}}</button>
    <div>{{numberOfTransactions}}</div>
</section>
<div #transTable class="transactions-table-container">
    <app-transactions-table (openDialog)="openTransactionsDialog($event)" [transactions]="transactions"></app-transactions-table>
</div>