header {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
header section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header #month {
    grid-column: 3;
}
header #year {
    grid-column: 5;
    padding-right: 10px;
}
h1,h2{
    margin-bottom: 0;
}
.table-head {
    display: flex;
}