header {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
header #month {
    grid-column: 3;
}
header #year {
    grid-column: 5;
    padding-right: 10px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1,h2,h4,h5{
    margin-bottom: 0;
}

.table-head {
    display: flex;
}

.transactions-table-container {
    display: block;
    max-height: 82vh;
    overflow-y: auto;
}
.table-column-names {
    display: flex;
    width:100vw;
    justify-content: space-around;
    background-color: #424242;
    position: absolute;
    top:18vh;
    z-index: 100;
}