<div style="display:flex; justify-content: center;">
    <app-personal-info></app-personal-info>
</div>
<mat-grid-list [cols]="dashboardCols" rowHeight="45vh">
    <mat-grid-tile ><app-transaction [panelWidth]="panelWidth"></app-transaction></mat-grid-tile>
    <mat-grid-tile><app-savings [panelWidth]="panelWidth"></app-savings></mat-grid-tile>
    <mat-grid-tile *ngIf="dashboardCols == 2"><app-totals></app-totals></mat-grid-tile>
    <mat-grid-tile *ngIf="dashboardCols == 2">empty</mat-grid-tile>
</mat-grid-list>
