
@use '~@angular/material' as mat;

@include mat.core();

$money-manager-primary: mat.define-palette(mat.$indigo-palette);
$money-manager-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$money-manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$money-manager-dark: mat.define-dark-theme((
  color: (
    primary: $money-manager-primary,
    accent: $money-manager-accent,
    warn: $money-manager-warn,
  )
));

$money-manager-light : mat.define-light-theme((
  color: (
    primary: $money-manager-primary,
    accent: $money-manager-accent,
    warn: $money-manager-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.darkmode {
  @include mat.all-component-themes($money-manager-dark);
}
@include mat.all-component-themes($money-manager-light);


