
@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.core();

$money-manager-primary: mat.define-palette(mat.$amber-palette, 700);
$money-manager-accent: mat.define-palette(mat.$green-palette, 400);
$money-manager-warn: mat.define-palette(mat.$red-palette);

$money-manager-dark: mat.define-dark-theme((
  color: (
    primary: $money-manager-primary,
    accent: $money-manager-accent,
    warn: $money-manager-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$money-manager-light : mat.define-light-theme((
  color: (
    primary:$money-manager-primary,
    accent: $money-manager-accent,
    warn: $money-manager-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($money-manager-light);
.darkmode {
  @include mat.all-component-colors($money-manager-dark);
}


